* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 200px calc(100vw - 200px);
}

.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: aqua;
    height: 100vh;
}

.right-bar {
    background-color: red;
    height: 100vh;

    & .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: yellow;
        height: 80px;
    }

    & .content {
        background-color: blue;
        height: calc(100vh - 80px);

        & .content-top {
            background-color: brown;
            height: 30px;
        }

        & .content-bottom {
            background-color: pink;
            height: calc(100% - 30px);
        }
    }
}
